* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainText: black;

    --bg1: #fff7f7;
    --bg2: turquoise;

    --nav-clr-light: #fff;
    --nav-clr-dark: #303030;

    --fw-reg: 300;
    --fw-strong: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    --borderColor: black;
}

/* ****************** */
/* Set @media roots for changing font sizes */
/* ****************** */


/* ----- Header ----- */

header {
    border-bottom: 1px solid #E2E8F0;
}

.nav {
    /* position: fixed;
    background: var(--nav-clr-dark);
    color: var(--nav-clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translate(50%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1) */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--nav-clr-light);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    color: var(--nav-clr-dark);
    text-decoration: none;
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:hover {
    color: var(--nav-clr-dark);
}

.hamburger {
    display: none;
}

.hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


h1, h2, h3 {
    color: var(mainText)
}



.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .nav-container .nav-list {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background: var(--nav-clr-dark);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-list.active {
        right: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .nav-link {
        color: var(--nav-clr-light);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* Turn Hamburger into X */
    .hamburger.active .hamburger-bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .hamburger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .hamburger-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media screen and (max-width: 360px) {

}

.greeting-wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    
    border: 1px dashed lightcoral;
}

.s1 {
    background-color: var(--bg1);
    border: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--bg2);
    border: 1px solid var(--borderColor);
    overflow: auto;

}