* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainText: #272368;
    --secondaryText: #ff4153;
    --tertiaryText: #fff;

    --bg-primary: #fff7f7;
    --bg-secondary: #ff4153;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-active: #ff4153;

    --ff-primary: 'Zen Kurenaido', sans-serif;
    --ff-secondary: 'Yanone Kaffeesatz', sans-serif;
    --ff-body: 'Questrial', sans-serif;

    --fw-reg: 300;
    --fw-strong: 900;

    --fs-title-big: 8rem;
    --fs-title: 5rem;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    --borderColor: #272368;
    --btn-color: #272368;
}

/* ****************** */
/* Set @media roots for changing font sizes */
/* ****************** */

h1, h2, h3, h4, h5 {
    color: var(--mainText);
    font-family: var(--ff-secondary);
}

p {
    color: var(--mainText);
    font-family: var(--ff-body);
}

/* -------------------------- */
/* --------- Header --------- */
/* -------------------------- */
header {
    border-bottom: 1px solid #E2E8F0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--clr-light);
    font-family: var(--ff-body);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 100;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link {
    color: var(--mainText);
    text-decoration: none;
    font-size: var(--fs-h3);
    font-weight: var(--fw-strong);
}

.nav-link:hover {
    color: var(--clr-active);
}

.hamburger {
    display: none;
}

.hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


@media screen and (max-width: 768px) {
    .nav-list {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background: var(--clr-dark);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); */
    }

    .nav-list.active {
        right: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .nav-link {
        color: var(--clr-light);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* Turn Hamburger into X */
    .hamburger.active .hamburger-bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .hamburger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .hamburger-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* -------------------------- */
/* ---------- Main ---------- */
/* -------------------------- */
.main-container {
    width: 1200px;
    margin: 0 auto;
}

.s1 {
    background-color: var(--bg-primary);
    border: 1px solid var(--borderColor);
    overflow: auto;
    padding: 10rem 2.5rem;
}

.s2 {
    background-color: var(--bg-secondary);
    border: 1px solid var(--borderColor);
    overflow: auto;
    padding: 10rem 2.5rem;
}


/* -------------------------- */
/* -------- Greeting -------- */
/* -------------------------- */
.greeting-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.greeting-main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.greeting-title {
    font-family: var(--ff-secondary);
    font-size: var(--fs-title);
}

.greeting-title-top {
    color: var(--secondaryText);
    padding: 0.5rem 1rem 0rem 1rem; 
}

.greeting-title-bottom {
    color: var(--tertiaryText);
    background: var(--bg-secondary);
    padding: 1rem 1rem 0.5rem 1rem; 
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
}

.greeting-description {
    color: var(--secondaryText);
    margin-top: 1rem;
    font-size: var(--fs-h2);
}

.profile-pic {
    max-width: 300px;
    width: auto;
    height: auto;
    margin: 1rem;
    border: 6px solid var(--borderColor);
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {

}


/* -------------------------- */
/* --------- About --------- */
/* -------------------------- */
.about-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5rem 8rem;
}

.about-title {
    font-size: var(--fs-title-big);
    text-shadow: 6px 3px 0px #FFFFFF;
}

.about-description {
    font-family: var(--ff-body);
    font-size: var(--fs-h3);
    padding-left: 0;
    padding-right: 1rem;
    width: 500px;
    color: var(--tertiaryText);
    line-height: 1.3;
}

.skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-top: 40px;
}

.skills-title {
    display: inline;
    font-family: var(--ff-secondary);
    font-size: var(--fs-h1);
    color: var(--tertiaryText);
    margin-bottom: 40px;
    border-bottom: 1px solid var(--tertiaryText);
}

.skills-grid {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    max-width: 800px;
}

.skill {
    text-align: center;
    font-size: 60px;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: auto;
    padding: 10px;
    background-color: var(--bg-primary);
    box-shadow: 4px 7px 12px 3px rgba(0,0,0,0.63);
}

.skill-label {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--mainText);
}

/* -------------------------- */
/* -------- Projects -------- */
/* -------------------------- */
.project-wrapper {
    margin: 0 auto;
}

.project-title {
    font-size: var(--fs-title);
    text-align: center;
    text-shadow: 4px 3px 0px #ffffff;
    margin-bottom: 30px;
}

.post-wrapper {
    display: grid;
    vertical-align: baseline;
    padding: 0 5rem;
}

.post {
    display: flex;
    vertical-align: baseline;
    margin-top: 40px;
    margin-bottom: 40px;
}

.thumbnail {
    display: block;
    width: 400px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    -webkit-box-shadow: 4px 7px 12px 3px rgba(0,0,0,0.63); 
    box-shadow: 4px 7px 12px 3px rgba(0,0,0,0.63);
}

.post-texts {
    margin-left: 25px;
}

.post-title {
    font-family: var(--ff-body);
    font-size: var(--fs-h2);
}

.post-tech {
    font-family: var(--ff-body);
    font-size: var(--fs-h3);
    margin: 10px 0;
}

.post-description {
    font-size: var(--fs-body);
    margin: 10px 0;
}

.tech-stack {
    color: #9B48FF;
}

.post-links {
    font-family: var(--ff-body);
    font-size: 20px;
}


/* -------------------------- */
/* -------- Contact --------- */
/* -------------------------- */
.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-title {
    display: block;
    font-size: var(--fs-title-big);
    justify-self: center;
    align-self: center;
    text-shadow: 6px 3px 0px #FFFFFF;
    margin-right: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.contact-field {
    width: 100%;
    padding: 5px 10px;
    margin: 7px auto;
    border-radius: 5px;
    font-family: var(--ff-primary);
    font-weight: var(--fw-strong);
    font-size: 16px;
}

label {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit-btn {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--btn-color);
	border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .contact-wrapper {
        grid-template-rows: 1fr 1fr;
    }

/* -------------------------- */
/* ----- Responsiveness ----- */
/* -------------------------- */
@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 360px) {

}

